$bg-color: #00a5e5;
$primary-bg-color: #f8f9fa;
$secondary-bg-color: #ffffff;
$tertiary-bg-color: #e5f6fd;
$border-color: #e6e6e6;
$primary-font-color: #262626;
$secondary-font-color: #70757a;
$spacing: 8px;

* {
  color: $primary-font-color;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  background-color: $bg-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin flex {
  display: flex;
}

@mixin align-end {
  align-self: flex-end;
}

@mixin align-center {
  align-self: center;
}

@mixin secondary-text {
  font-size: 13pt;
  color: $secondary-font-color;
}

@mixin secondary-text-smaller {
  @include secondary-text;
  font-size: 10pt;
}

.flex {
  display: flex;
}

.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}

.header-container {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid $border-color;
  p {
    font-size: 23pt;
  }
}

.container {
  background-color: $primary-bg-color;
}

.selector-container {
  background-color: $secondary-bg-color;
  justify-content: center;
  text-align: center;
  width: 90%;
  margin: auto;
  margin-top: $spacing;
  padding: $spacing;
  border: 1px solid $border-color;
  border-radius: 3px;

  select {
    width: 100%;
    font-size: 13pt;
    padding: $spacing;
  }
}

.report-container {
  width: 90%;
  margin-top: $spacing;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;

  .card {
    background-color: $secondary-bg-color;
    width: 100%;
    padding: $spacing * 3;
    padding-top: $spacing;
    border: 1px solid $border-color;
    border-radius: 3px;

    .card-row {
      display: flex;

      &:first-child {
        margin-bottom: $spacing * 4;
      }

      .current-main {
        @include align-center;

        .weather-description {
          @include secondary-text;
        }
      }

      .current-temperature {
        @include flex;

        p {
          font-size: 26pt;
        }
        img {
          max-height: 80px;
          width: auto;
        }
        .temperature {
          @include align-center;
        }
      }

      .current-datetime {
        @include align-end;

        .time {
          @include secondary-text;
        }
      }

      .current-extras > p {
        @include secondary-text;
      }

      .card-item {
        flex: 50%;

        &:first-child {
          text-align: left;
        }

        &:last-child {
          justify-content: end;
          text-align: end;
        }

        .city {
          font-size: 19pt;
        }

        .date {
          font-size: 15pt;
        }
      }
    }
  }

  .smaller {
    font-size: 10pt;
  }

  .forecast-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    margin-top: $spacing;
    margin-bottom: $spacing * 3;

    .forecast-top {
      text-align: center;
      border-bottom: 1px solid $border-color;
      padding: $spacing * 2;

      .forecast-temperature {
        font-size: 15pt;
      }

      .time {
        @include secondary-text;
      }
    }

    .forecast-bottom {
      text-align: center;
      background-color: $tertiary-bg-color;
      width: 100%;
      padding: $spacing * 2;

      & > p {
        @include secondary-text-smaller;
      }
    }

    .forecast-item {
      // padding: 5px;
      background-color: $secondary-bg-color;
      border-radius: 3px;
      border: 1px solid $border-color;
    }
  }
}
