/* COLORS */
$bg-color: #00a5e5;
$primary-bg-color: #f8f9fa;
$secondary-bg-color: #ffffff;
$tertiary-bg-color: #e5f6fd;
$border-color: #e6e6e6;
$primary-font-color: #262626;
$secondary-font-color: #70757a;

/* FONT-SIZING (according to specification provided for this exercise) */
$header-font-size: 23pt;
$secondary-font-size: 13pt;
$secondary-font-size-smaller: 10pt;
$current-temperature-font-size: 26pt;
$forecast-temperature-font-size: 15pt;
$location-font-size: 19pt;
$date-font-size: 15pt;

/* GENERAL */
$spacing: 4px;
$spacing-lg: 8px;

* {
  color: $primary-font-color;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  background-color: $bg-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin flex {
  display: flex;
}

@mixin align-end {
  align-self: flex-end;
}

@mixin align-center {
  align-self: center;
}

@mixin scale-font($original-size) {
  @media (min-width: 320px) {
    font-size: calc($original-size * 0.8);
  }

  @media (min-width: 375px) {
    font-size: calc($original-size * 0.9);
  }

  @media (min-width: 440px) {
    font-size: $original-size;
  }
}

@mixin secondary-text {
  @include scale-font($secondary-font-size);
  color: $secondary-font-color;
}

@mixin secondary-text-smaller {
  @include secondary-text;
  @include scale-font($secondary-font-size-smaller);
}

.header-container {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid $border-color;
  p {
    font-size: $header-font-size;
    @include scale-font($header-font-size);
  }
}

.container {
  background-color: $primary-bg-color;
}

.selector-container {
  background-color: $secondary-bg-color;
  justify-content: center;
  text-align: center;
  width: 90%;
  margin: auto;
  margin-top: $spacing;
  padding: $spacing;
  border: 1px solid $border-color;
  border-radius: 3px;

  select {
    @include scale-font($secondary-font-size);
    width: 100%;
    padding: $spacing;
  }
}

.report-container {
  width: 90%;
  margin-top: $spacing;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $spacing * 3;
  justify-content: center;

  .card {
    background-color: $secondary-bg-color;
    width: 100%;
    padding: $spacing * 3;
    padding-top: $spacing * 2;
    border: 1px solid $border-color;
    border-radius: 3px;

    .card-row {
      display: flex;
      margin: {
        left: 3%;
        right: 3%;
      }

      &:first-child {
        margin-bottom: $spacing * 4;
      }

      .current-main {
        @include align-center;

        .weather-description {
          @include secondary-text;
        }
      }

      .current-temperature {
        @include flex;

        p {
          @include scale-font($current-temperature-font-size);
        }
        img {
          max-width: 60px;
          height: auto;
        }
        .temperature {
          @include align-center;
        }
      }

      .current-datetime {
        @include align-end;

        .time {
          @include secondary-text;
        }
      }

      .current-extras > p {
        @include secondary-text;
      }

      .card-item {
        flex: 50%;

        &:first-child {
          flex: 30%;
          text-align: left;
        }

        &:last-child {
          justify-content: end;
          text-align: end;
        }

        .city {
          @include scale-font($location-font-size);
        }

        .date {
          @include scale-font($date-font-size);
        }
      }
    }
  }

  .forecast-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    margin-top: $spacing;
    margin-bottom: $spacing * 3;

    .forecast-item {
      margin-bottom: $spacing;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 0 0 18%;
      background-color: $secondary-bg-color;
      border-radius: 3px;
      border: 1px solid $border-color;

      & > div {
        padding: $spacing;
      }

      .forecast-top {
        display: flex;
        flex-direction: column;

        p {
          @include align-center;
        }

        img {
          width: 30px;
          height: auto;
          margin: auto;
        }

        .forecast-temperature {
          @include scale-font($forecast-temperature-font-size);
        }

        .time {
          @include secondary-text;
          margin: {
            right: $spacing;
            left: $spacing;
          }
        }
      }

      .forecast-bottom {
        flex: 40%;
        width: 100%;
        border-top: 1px solid $border-color;
        text-align: center;
        background-color: $tertiary-bg-color;

        p {
          @include secondary-text-smaller;
        }
      }
    }
  }
}

@mixin desktop-rules {
  .content-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .report-container {
    max-width: 48%;
  }

  .selector-container {
    width: 1000px;
  }
  .content-container {
    width: 1000px;
  }
}

@media screen and (min-width: 440px) {
  .selector-container {
    margin-top: $spacing-lg;
    padding: $spacing-lg;

    select {
      padding: $spacing-lg;
    }
  }

  .report-container {
    margin-top: $spacing-lg;
    margin-bottom: $spacing-lg * 3;

    .card {
      padding: $spacing-lg * 3;
      padding-top: $spacing-lg * 2;

      .card-row {
        margin: {
          left: 0;
          right: 0;
        }

        &:first-child {
          margin-bottom: $spacing-lg * 4;
        }
      }
    }
    .forecast-container {
      margin: {
        top: $spacing-lg;
        bottom: $spacing-lg * 3;
      }

      .forecast-item {
        margin-bottom: $spacing-lg;

        & > div {
          padding: $spacing-lg;
        }

        .forecast-top {
          img {
            width: auto;
            height: auto;
          }

          .time {
            margin: {
              right: $spacing-lg;
              left: $spacing-lg;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .selector-container {
    width: 60%;
  }
  .report-container {
    width: 60%;
  }
}

@media screen and (min-width: 1024px) {
  @include desktop-rules;
}
